version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - "xicri"
    groups:
      compatible:
        applies-to: "version-updates"
        update-types:
          - "minor"
          - "patch"
    ignore:
      - dependency-name: "@types/node"
        update-types:
          - version-update:semver-major

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - "xicri"
    groups:
      normal:
        applies-to: "version-updates"
        update-types:
          - "major"
          - "minor"
          - "patch"
