# If engine-strict=true, dependabot fails to update packages even if its Node.js and npm versions match the one set in `engines` in package.json. Until this bug is fixed, `engine-strict` should be `false`.
engine-strict=false
