[tools]
node = { version = "24" }

[tasks]
  [tasks.dev]
  run = "nuxt dev"

  [tasks.build]
  run = [
    "jiti ./scripts/build.ts",
    "nuxt build",
  ]

  [tasks.preview]
  run = "wrangler pages dev --local"

  [tasks.lint]
  run = [
    "nuxt typecheck",
    "eslint",
  ]

  [tasks.fix]
  run = "eslint --fix"

  [tasks.test]
  run = "vitest run"

  [tasks.e2e]
  run = "playwright test --shard=\"${SHARD_INDEX}/${SHARD_TOTAL}\""

  [tasks."e2e:server"]
  run = "wrangler pages dev --local --show-interactive-dev-session=false --port=5678"

  [tasks."e2e:prepare"]
  run = "playwright install chromium webkit --with-deps"

  [tasks.vrt]
  run = [
    { task = "e2e:prepare" },
    "concurrently --kill-others --success=first \"npm:e2e:server\" \"npm:vrt:screenshot\"",
    { task = "vrt:reg" },
  ]

  [tasks."vrt:screenshot"]
  run = [
    "sleep 5",
    "jiti ./scripts/vrt-screenshot.ts"
  ]

  [tasks."vrt:reg"]
  run = "./scripts/vrt-reg.sh"

  [tasks.clean]
  run = "git clean -dX --exclude=\"!.env\" --exclude=\"!mise.local.toml\" --force"

  [tasks.refresh]
  depends = [ "clean" ]
  run = [
    "rm --force ./pnpm-lock.yaml",
    "corepack enable",
    "corepack up",
    "mise install"
  ]

  [tasks."purge-cache"]
  run = "jiti ./scripts/purge-cache.ts"

  [tasks.postinstall]
  run = [
    "node ./scripts/postinstall.mjs",
    "nuxt prepare",
    "jiti ./scripts/build.ts",
  ]

[hooks]
postinstall = [
  "corepack enable",
  "pnpm install --frozen-lockfile",
]

[env]
_.file = ".env"
_.path = "./node_modules/.bin"

[settings]
jobs = 8

# Required for hooks as of 2025.12
# https://mise.jdx.dev/hooks.html
experimental = true
