#:schema node_modules/wrangler/config-schema.json
name = "genshin-dictionary"
compatibility_date = "2025-04-02"
compatibility_flags = [ "nodejs_compat" ]
pages_build_output_dir = "./dist"

# Smart Placement
# https://developers.cloudflare.com/pages/functions/smart-placement/#smart-placement
[placement]
mode = "smart"

[env.production.vars]
NODE_ENV = "production"
SERVER_ENV = "production"
NODE_VERSION = "22"

[env.preview.vars]
NODE_ENV = "production" # To omit devDependencies
SERVER_ENV = "preview"
NODE_VERSION = "22"

[dev]
port = 3000
