@use "./variables.scss" as vars;

html {
  font-family: var(--font-jp), var(--font-zh-cn), sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

// remove the ☓ button on the right of the text input from Chrome
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

a:link {
  color: vars.$color-dark;
}
a:visited, a:hover, a:active {
  color: vars.$color-darkest;
}

h2, h3 {
  margin-bottom: 0.4em;
  color: vars.$color-dark;
}
