name: "E2E"

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions: {}

jobs:
  e2e:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        shardIndex:
          - 1
          - 2
          - 3
    env:
      SERVER_ENV: local
      SHARD_INDEX: ${{ matrix.shardIndex }}
      SHARD_TOTAL: 3
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 22
          cache: pnpm

      - name: cache playwright browsers
        id: playwright-cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.cache/ms-playwright
          key: playwright

      - name: Cache deb files
        id: deb-cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: /var/cache/apt/archives
          # To avoid keeping caches of too old deb files,
          # refresh it when the lock file is updated
          key: deb-${{ hashFiles('**/pnpm-lock.yaml') }}

      - run: pnpm install --frozen-lockfile
      - run: pnpm e2e:prepare
      - run: pnpm build
      - run: pnpm e2e
